GinClientApp/Connected Services/GinClientService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GinClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GinClientLibrary" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGinClientService_AddRepository_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRepository" />
  </wsdl:message>
  <wsdl:message name="IGinClientService_AddRepository_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="IGinClientService_UnmountRepository_InputMessage">
    <wsdl:part name="parameters" element="tns:UnmountRepository" />
  </wsdl:message>
  <wsdl:message name="IGinClientService_UnmountRepository_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnmountRepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="IGinClientService_UnmmountAllRepositories_InputMessage">
    <wsdl:part name="parameters" element="tns:UnmmountAllRepositories" />
  </wsdl:message>
  <wsdl:message name="IGinClientService_UnmmountAllRepositories_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnmmountAllRepositoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IGinClientService_AddCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCredentials" />
  </wsdl:message>
  <wsdl:message name="IGinClientService_AddCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IGinClientService_GetRepositoryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoryList" />
  </wsdl:message>
  <wsdl:message name="IGinClientService_GetRepositoryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoryListResponse" />
  </wsdl:message>
  <wsdl:message name="IGinClientService_UpdateRepository_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRepository" />
  </wsdl:message>
  <wsdl:message name="IGinClientService_UpdateRepository_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRepositoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IGinClientService">
    <wsdl:operation name="AddRepository">
      <wsdl:input wsaw:Action="http://tempuri.org/IGinClientService/AddRepository" message="tns:IGinClientService_AddRepository_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGinClientService/AddRepositoryResponse" message="tns:IGinClientService_AddRepository_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnmountRepository">
      <wsdl:input wsaw:Action="http://tempuri.org/IGinClientService/UnmountRepository" message="tns:IGinClientService_UnmountRepository_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGinClientService/UnmountRepositoryResponse" message="tns:IGinClientService_UnmountRepository_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnmmountAllRepositories">
      <wsdl:input wsaw:Action="http://tempuri.org/IGinClientService/UnmmountAllRepositories" message="tns:IGinClientService_UnmmountAllRepositories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGinClientService/UnmmountAllRepositoriesResponse" message="tns:IGinClientService_UnmmountAllRepositories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/IGinClientService/AddCredentials" message="tns:IGinClientService_AddCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGinClientService/AddCredentialsResponse" message="tns:IGinClientService_AddCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRepositoryList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGinClientService/GetRepositoryList" message="tns:IGinClientService_GetRepositoryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGinClientService/GetRepositoryListResponse" message="tns:IGinClientService_GetRepositoryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRepository">
      <wsdl:input wsaw:Action="http://tempuri.org/IGinClientService/UpdateRepository" message="tns:IGinClientService_UpdateRepository_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGinClientService/UpdateRepositoryResponse" message="tns:IGinClientService_UpdateRepository_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGinClientService" type="tns:IGinClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRepository">
      <soap:operation soapAction="http://tempuri.org/IGinClientService/AddRepository" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnmountRepository">
      <soap:operation soapAction="http://tempuri.org/IGinClientService/UnmountRepository" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnmmountAllRepositories">
      <soap:operation soapAction="http://tempuri.org/IGinClientService/UnmmountAllRepositories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCredentials">
      <soap:operation soapAction="http://tempuri.org/IGinClientService/AddCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRepositoryList">
      <soap:operation soapAction="http://tempuri.org/IGinClientService/GetRepositoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRepository">
      <soap:operation soapAction="http://tempuri.org/IGinClientService/UpdateRepository" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GinClientService">
    <wsdl:port name="BasicHttpBinding_IGinClientService" binding="tns:BasicHttpBinding_IGinClientService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/GinClientService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>